<!DOCTYPE html>
<html>
  <head>
    <title>pawar.ca</title>

    <!-- Viewport mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/mvp.css">

  </head>

  <body class="account-bg">
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand navbar-brand-img">
            <img src="/img/logo.png" style="margin-top:15px">
          </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Expense</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    IMG HERE

  </body>
</html>