
<style>
	iframe {
		width: 60%;
		height: 70%;
		scrolling: no;
		border: #fff;
		margin-left: 20px;
    margin-top: 50px;
	}
	#status1 {
		margin-top: 10px;
    color: green;
    /*font-style: italic;*/
    font-size: 14px;
	}
	#status2 {
		margin-bottom: 30px;
    font-size: 15px;
	}
  #or{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px
  }
  #fname {
    display:inline;
    color:purple;
    text-transform: uppercase;
  }
  #uploader{
    width: 90%;
  }
  h5 {
    display:inline;
  }

</style>

<!-- ============= dropdown ===============-->
  <div class="mainnav">
    <div class="container">
      <nav class="collapse mainnav-collapse" role="navigation">
        <ul class="mainnav-menu">
          <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          	</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


<!-- ============= body ===============-->
<div class="content">
    <div class="container">

    <!-- LEFT -->
      <div class="layout layout-stack-sm layout-main-left">
        <div class="col-sm-7 col-md-8 layout-main">
          <div class="portlet">
            <div class="portlet-body">
      				<div style="width:90%" class="alert alert-info" role="alert">ok, your files will be uploaded to <h5>ASHSD</h5> folder</div>
      				<!-- <div style="width:90%; height:350px; background-color:black; display:block"></div> -->
              <div id="uploader">
                <p>Your browser doesn't support Flash or HTML5.<br>
                  You might be unable to upload</p>
              </div>

            </div>
          </div>
        </div>

    <!-- RIGHT -->
      <div class="col-sm-5 col-md-4 layout-sidebar">

    		<h4>Create a new folder</h4>
            <form role="form" class="form-inline" data-toggle="validator">
      			  <div class="form-group">
      			     <label>Name</label>
      			     <input type="text" pattern="^[A-Za-z][A-Za-z0-9\-\_]+" class="form-control" id="newname" placeholder="">
      			  </div>
      			  <button type="submit" class="btn btn-default">Submit</button>
              <div class="help-block with-errors"></div>
    		    </form>
    		  <div id="status1">Note: Use only letters, numbers, dash, underscore</div>


          <div id="or">
            <h4>OR</h4>
          </div>


		  <h4>Upload to an existing folder</h4>
          <div class="well">
            <ul class="icons-list text-md">
          		<select class="form-control">
				  	<option>default</option>
				  	<option>test</option>
				</select>
            </ul>
          </div>

          <h4 style="margin-top:60px">Keep my files</h4>
          <div class="well">
            <ul class="icons-list text-md">
      				<div class="radio">
      				  <label>
      				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="public" checked="checked">
      				     Public
      				  </label>
      				</div>
      			    <div class="radio  <% if(!user){ %> enabled <% } %>">
      				  <label>
      				    <input type="radio" name="optionsRadios" id="optionsRadios2" value="private"
      				    <% if(!user){ %> enabled <% } %> >
      				    	Private (<a href="/auth/google">Login required</a>)
      				    </label>
      				</div>
      			</ul>
          </div>

        </div>

      </div>
    </div>
  </div>


<!-- bootstrap modal -->
<!-- link: http://getbootstrap.com/javascript/#modals -->
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <button style="margin-top:10px" type="button" class="close" data-dismiss="modal" aria-hidden="true">X&nbsp;&nbsp;&nbsp;&nbsp;</button><br/>
      <h4 style="margin-left:15px;color:purple"> You must <a href="/auth/google">login</a> first </h4>
    </div>
  </div>
</div>




<!-- *************
    Javascript
  ***************** -->
<script>
$(function(){

  // input form
	$('.form-inline').on('submit', function (e) {
	  e.preventDefault();
	  var newname = $("#newname").val()
	  // console.log(newname);
	});

  // dropdown
  $('.form-control').on('change', function(){
    var selected = $(this).find("option:selected").val();
    // console.log(selected);
  });

  // radio buttons
  $('input[type=radio][name=optionsRadios]').change(function() {
    if (this.value == 'private') {
      <% if (!user) { %>
        $('#myModal').modal();
      <% } else { %>
        window.location = "/upload/private";
      <% } %>
    }
    else window.location = "/upload";
  });


  /*************
   Uploader
   ************/
  $("#uploader").plupload({
    runtimes : 'html5,flash',
    url : 'http://<%= s3Credentials.s3Bucket %>.s3.amazonaws.com/',

    multipart: true,
    multipart_params: {
      'key': '${filename}', // use filename as a key
      'Filename': '${filename}', // adding this to keep consistency across the runtimes
      'acl': 'public-read',
      'Content-Type': 'image/jpeg',
      'AWSAccessKeyId' : '<%= s3Credentials.s3Key %>',
      'policy': '<%= s3Credentials.s3PolicyBase64 %>',
      'signature': '<%= s3Credentials.s3Signature %>'
    },

    // Resize not recommended with S3, since it will force Flash runtime
    // into mode with NO PROGRESS INDICATION
    // resize : {width : 1024, height : 768, quality : 100},

    // optional, but better be specified directly
    file_data_name: 'file',

    filters : {
      max_file_size : '5mb',
      mime_types: [
        {title : "Image files", extensions : "jpg,jpeg,png,gif"}
      ]
    },

    // Flash settings
    flash_swf_url : '/js/Moxie.swf'

  });


});

</script>