
<style>
	iframe {
		width: 60%;
		height: 70%;
		scrolling: no;
		border: #fff;
		margin-left: 20%;
    margin-top: 50px;
	}
</style>

<!-- ============= dropdown ===============-->
  <div class="mainnav">
    <div class="container">
      <nav class="collapse mainnav-collapse" role="navigation">
        <ul class="mainnav-menu">
          <li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
          </li>
        </ul>
      </nav>
    </div>
  </div>



<!-- iframe -->
<iframe src="http://plupload.herokuapp.com"></iframe>

